.nav-menu {
  text-align: right;
}
.nav-spacing {
 margin: 0 0 0 10px;
}

.image-link {
text-decoration: none;
}

.header-style {
  text-align: center;
}

.header-margin {
  margin: 0 0 80px;
}

.header-image {
  display: block; margin: 0 auto;
}

.main-contaimer {
  width: 500px;
  margin: 20px auto;
  margin: 30px;
  background-color: #fafafa;
}

.book-cover {
  float: left;
  margin-right: 40px;
}

.first-sentence {
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.quote {
  font-style: italic;
  font-size: 20px;
}